.ContactButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    background: #0066FF;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 6px;
    margin-right: 8px;
}